body {
    margin: 0;
    background: #000;
    color: #0f0;
    font-family: "Courier New", monospace;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    background: rgba(0, 255, 0, 0.05);
    border: 1px solid #0f0;
    padding: 25px;
    border-radius: 20px;
    width: 330px;
    text-align: center;
    box-shadow: 0 0 15px #0f0;
}

.avatar img {
    width: 100%;
    border-radius: 15px;
    border: 2px solid #0f0;
}

.name {
    margin-top: 20px;
    font-size: 28px;
    text-shadow: 0 0 10px #0f0;
}

.bio {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.6;
  }
